/vendor
/node_modules
.env
.phpunit.result.cache
/storage/*.key
/public/storage
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
.DS_Store
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.lock
/public/hot
/public/mix-manifest.json
/public/css
/public/js
/public/build
/.vscode
